*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #5d665F;
}
header{
    background-color: #20665F;
}
article{
    background-color: #20665F;
    padding : 10px 20px;
    border-radius: 10px;
    margin: 10px 25%;
}
form{
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    margin: 0px 10%;
    
}
label {
    color: #FFFFFF;
    
}
input, textarea, select{
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
}
select{
    text-align: right;
    font-weight: 500;
}
#form-input{
    display:flex;
    flex-direction: column;
    gap: 5px; 
}
#form-actions{
    display: flex;
    justify-content: flex-end;
}


#appTitle{
    color : #FFFFFF;
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
}

#submitBtn{
    background-color: #5d665F;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 30px;
    margin: 5px 0px;
}   



